.searchBar {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: center;
}

.searchBar .imageWrapper {
  display: flex;
  align-items: center;
  width: 5.2rem;
  margin-right: 1.6rem;
  cursor: pointer;
}
.searchBar img {
  width: 100%;
}

.searchBar input {
  height: 2.5rem;
  min-width: 25rem;
  border: 1px solid darkgray;
}

.searchBar button {
  width: 4rem;
  height: 2.5rem;
  background-color: darkgray;
}

.searchBar button .searchIcon {
  color: #ffffff;
}
